.App {
  text-align: center;
  height: inherit;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.game-container {
  width: 100%;
  height: 100%;
}

.game-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.game-number {
  margin-right: 30px;
  height: 20px;
} 

.spy-master-checkbox {
  margin-right: 6px;
}

.board-container {
  height: 92%;
  width: 100%;
}

.board-row {
  height: 20%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.board-col {
  height: 100%;
  width: 20%;
}

.square {
  height: 100%;
  width: 100%;
  text-transform: capitalize;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.open.blue {
  background-color: lightblue;
}

.open.red {
  background-color: red;
}

.open.grey {
  background-color: grey;
}

.open.neutral {
  background-color: lightyellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
